*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
#countlabel{
    display: block;
    text-align: center;
    font-size: 50px;
}
body{
    background-image: url('');
}